{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best blog site </title>
        {% endif %}
    </head>
    <body>
        <!-- Content block -->
        {% block content %}
        <!-- Popular blog section  -->
        <h3> Popular Blog</h3>
         <ul>
            {{ macro.displayBlogList(popular)}}
        </ul>
        <!-- Upcoming blog  -->
        <h3> Upcoming Blog </h3>
         <ul>
            {{ macro.displayBlogList(upcoming)}}
        </ul>
        <!-- Now showing blog -->
        <h3>Now Showing</h3>
         <ul>
            {{ macro.displayBlogList(now_showing)}}
        </ul>

    </body>
</html>