{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block styles%}
    {{super()}}

{% endblock %}


{% block content%}

<div class="container">
	<div class="row">
		<div class="row">

		</div>

	</div>
	<div class="row">
        {% for blog in blogs %}
        <div class="col col-md-3">
            <div class="row">
				<div class="row">
					<h1 >{{blog.title}}</h1>

				</div>

				<div class="row">
					<p>{{blog.description}}<blockquote class="blockquote mb-0">

					<footer class="blockquote-footer"> Posted by {{blog.user.username}}</footer>
				</blockquote>
</p>


				</div>
                <div class="row">
                    <a href="{{url_for('main.view_blog',blog_id = blog.id)}}" class="btn btn-info">Read More</a>


				</div>

                </div>

        </div>
        {% endfor%}


	</div>

</div>

{% endblock%}